.calculator-app {
    display: none;
    height: 130%;
    width: 100%;
    background: black;
    overflow: hidden;
}

.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    background-color: #3b3b3b;
    border: none;
    color: white;
    border-radius: 15px;
    transition: 200ms all;
}
.text{
    width: 230px;
    font-size: 50px;
    padding: 5px;
    border: none;
    background-color: rgb(22, 22, 22);
    color: white;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-top: 5px;
    text-align: right;
}
.main{
    position: absolute;
    top: 40%;
    left: 51%;
    transform: translateX(-50%)translateY(-35%);
}

.button:hover {
  background-color: #464646;  
}

input:focus {
    outline: none;
}

input[value="C"], input[value="*"], input[value="/"] {
    color: black;
    background-color: #7a7a7a;
}
input[value="C"]:hover, input[value="*"]:hover, input[value="/"]:hover {
    background-color: #969696;
}
input[value="-"], input[value="+"], input[value="="],input[value="<"] {
    color: black;
    background-color: rgb(204, 109, 1);
}
input[value="-"]:hover, input[value="+"]:hover, input[value="="]:hover,input[value="<"]:hover {
    background-color: rgb(231, 107, 6);
}