.mail-app {
    display: none;
    height: 100%;
    width: 100%;
    background-image: url("../img/backgrounds/email.png");
    overflow: hidden;
}

.mail-home {
    position: relative;
    left: 0;
}

.mail-header {
    display: block;
    height: 14vh;
    width: 100%;
    background: #1d1d1d00;
}

#mail-header-text {
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 14.2vh;
    left: 3vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.3vh;
    color: #04728c;
}

#mail-header-mail {
    border-radius: .3vh;
    padding: .3vh;
    background-color: #04728c;
    text-transform: uppercase;
    position: absolute;
    top: 54.7vh;
    left: 6.4vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.4vh;
    color: #ffc107;
}

#mail-header-lastsync {
    text-transform: uppercase;
    position: absolute;
    top: 14.6vh;
    right: 3vh;
    font-family: 'Samsung Sans Regular';
    font-size: .9vh;
    color: #04728c;
}

.mail-list {
    position: absolute;
    width: 99%;
    background-color: rgb(255 255 255 / 44%);
    height: 37.7vh;
    top: 16vh;
    left: .2vh;
    border-radius: 2.5vh 2.5vh 0 0;
    overflow-x: hidden !important;
    overflow-y: scroll;
}

.mail-list::-webkit-scrollbar {
    display: none;
}

.mail {
    position: relative;
    color: rgb(114, 114, 114);
    height: 7.5vh;
    width: 100%;
    transition: .05s ease-in-out;
}

.mail:hover {
    background-color: rgb(233, 233, 233);
    transition: .05s ease-in-out;
}

.mail-sender {
    position: absolute;
    font-family: 'Samsung Sans Regular';
    font-size: 1.6vh;
    color: rgb(80, 80, 80);
    left: 4.5vh;
    top: 1vh;
}

.mail-text {
    position: absolute;
    top: 3.3vh;
    left: 4.5vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.15vh;
    color: rgb(83, 83, 83);
    max-width: 18vh;
    width: 16vh;
}
.mail-text > p {
    white-space: nowrap;
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.mail-time {
    position: absolute;
    font-family: 'Samsung Sans Regular';
    font-size: 1.1vh;
    color: rgb(80, 80, 80);
    right: 2vh;
    top: 1vh;
}

.opened-mail {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #f2f2f2;
    overflow: hidden;
    top: 0;
    left: -30vh;
}

.opened-mail-header {
    display: block;
    height: 14vh;
    width: 100%;
}

.mail-back {
    position: absolute;
    top: 5.5vh;
    left: 1.9vh;
}

.mail-back > i {
    color: rgb(17, 17, 17);
    font-size: 2vh;
    transition: .05s ease-in-out;
}

.mail-back:hover #mail-back {    
    color: rgb(255, 91, 91);
    transition: .05s ease-in-out;
}

.mail-subject {
    position: absolute;
    top: 8vh;
    left: 2vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.8vh;
    max-width: 22vh;
}

.mail-subject > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-date {
    position: absolute;
    top: 13vh;
    left: 2vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.1vh;
    color: rgb(51, 51, 51);
}

.mail-spacing {
    position: absolute;
    width: 93%;
    background-color: rgba(54, 54, 54, 0.3);
    height: .2vh;
    top: 15.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 20vh;
}

.mail-content {
    position: absolute;
    top: 17.3vh;
    left: 2vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.3vh;
    color: rgb(24, 24, 24);
    max-width: 23vh;
    overflow-y: scroll;
}
.mail-content::-webkit-scrollbar {
    display: none;
}
.mail-content > p {
    white-space: nowrap;
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 100;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.opened-mail-footer {
    position: absolute;
    width: 100%;
    height: 4vh;
    background-color: #f2f2f2;
    bottom: 0;
}

.opened-mail-footer-item {
    position: relative;
    width: 50%;
    height: 4vh;
    text-align: center;
    line-height: 4.3vh;
    color: black;
    font-size: 1.8vh;
    transition: .1s ease-in-out;
    float: left;
}

.opened-mail-footer-item:hover {
    background-color: rgb(214, 214, 214);
}

.opened-mail-footer-item:hover .mail-icon {
    font-size: 1.9vh;
    transition: .1s ease-in-out;
    animation: Shake 1s infinite;
}

@keyframes Shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

/* Advert App */

.advert-app {
    display: none;
    height: 100%;
    width: 100%;
    background-image: url("../img/backgrounds/advert.png");
    overflow: hidden;
}

.advert-header {
    display: block;
    height: 14vh;
    width: 100%;
    background: #1d1d1d00;
}

#advert-header-text {
    position: absolute;
    top: 5vh;
    left: 2vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.8vh;
    color: rgb(212 212 212 / 0%);
}

#advert-header-name {
    position: absolute;
    top: 15vh;
    left: 6.8vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.4vh;
    color: rgb(255 255 255)
}

.advert-list {
    position: absolute;
    width: 99%;
    background-color: #1d1d1d0000;
    height: 33.5vh;
    top: 18vh;
    left: .1vh;
    border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
    overflow-x: hidden !important;
    overflow-y: scroll;
}

.advert-list::-webkit-scrollbar {
    display: none;
}
.advert {
    position: relative;
    background-color: #ffea00;
    height: auto;
    min-height: 4vh;
    width: 90%;
    transition: .05s ease-in-out;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: .2vh;
    text-align: center;
}

.advert > p {
    margin-top: 1.5vh;
    padding-bottom: 1vh;
    font-family: 'Samsung Sans Regular';
    color: rgb(0 0 0);
    max-width: 25vh;
}

.advert:hover {
    background-color: #ffffff;
    transition: .05s ease-in-out;
}

.advert-sender {
    font-weight: 600;
    position: relative;
    top: .8vh;
    color: rgb(0 0 0)
    font-family: 'Samsung Sans Bold';
    font-size: 1.3vh;
}

.test-slet {
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 4.2vh;
    top: 52.6vh;
    transition: .1s ease-in-out;
    text-align: center;
    line-height: 4.2vh;
    font-size: 2.3vh;
    background-color: rgb(234 234 234 / 0%);
}

.test-slet:hover {
    background-color: rgb(214 214 214 / 0%);
    transition: .8s ease-in-out;
}

.test-slet:hover .test-icon {
    color: #ffea00;
    transition: .1s ease-in-out;
    animation: Shake 2s infinite;
}

.new-advert {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #1d1d1d;
    overflow: hidden;
    left: -30vh;
}

.new-advert-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9vh;
    background-color: #1d1d1d;
}

.new-advert-footer-item {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background-color: #1d1d1d;
    text-align: center;
    line-height: 5vh;
    font-size:2.4vh;
    transition: 1s linear;
    border-top: .3vh solid #ffffff00;
    color: rgb(214, 214, 214);
}

.new-advert-footer-item:hover {
    background-color: #1d1d1d;
    border-top: .3vh solid #ffffff;
    transition: 1s linear;
}

.new-advert-footer-item:hover .new-advert-icon {
    color: #ffea00;
    animation: Shake 1s infinite;
}

.new-advert-header {
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 0;
}

#new-advert-header-text {
    position: absolute;
    top: 6vh;
    left: 8.8vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.8vh;
    color: rgb(228, 228, 228);
}

.new-advert-textarea {
    position: absolute;
    height: 42vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: rgb(228, 228, 228);
    background-color: #1d1d1d;
    outline: none;
    border: .3vh solid #0000001e;
    resize: none;
    transition: 0.1s ease-in-out;
    font-family: 'Samsung Sans Regular';
    border-radius: 0.4vh;
    padding: 0.87vh;
    font-size: 1.4vh;
    top: 9vh;
    width: 22vh;
}

.new-advert-textarea:focus {
    border: 0.3vh solid #ffea00;
}

.new-advert-textarea:valid {
    border: 0.3vh solid #29b417;
}

.advert-home {
    position: relative;
    left: 0;
}

.nomails {
    text-align: center;
    color: #04728c;
    font-family: 'Samsung Sans Medium';
    font-size: 1.5vh;
    line-height: 20vh;
}