.mechanic-app {
    display: none;
    height: 100%;
    width: 100%;
    background-image: url("../img/backgrounds/mechanic.png");
    overflow: hidden;
}

.mechanic-header {
    position: absolute;
    width: 100%;
    height: 9vh;
    top: 0;
    color: #ffffff00;
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;
}

.mechanic-header > p {
    line-height: 12vh;
    text-indent: 2vh;
}

.mechanic-header > span {
    position: absolute;
    top: 15vh;
    left: 9vh;
    font-size: 1.2vh;
    height: 2vh;
    color: rgb(255 255 255)
}

.mechanic-list {
    position: absolute;
    background-color: #00000061;
    width: 90%;
    height: 62%;

    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 9%;

    border-radius: .5vh;

    overflow-y: scroll;
}

.mechanic-list::-webkit-scrollbar {
    display: none;
}

.mechanics-list {
    position: relative;
    width: 95%;
    height: 6vh;
    background-color: rgb(31 31 31 / 0%);
    margin: 2.5%;

    border-radius: .5vh;
}

.mechanics-list-firstletter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3.5vh;
    height: 3.5vh;
    background-color: rgb(68, 64, 126);
    text-align: center;
    left: 1vh;
    line-height: 3.5vh;
    border-radius: 12%;
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;

    color: rgb(255, 255, 255);
}

.mechanics-list-fullname {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5.5vh;
    font-family: 'Samsung Sans Medium';
    font-size: 1.5vh;

    max-width: 14vh;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

    color: rgb(255, 255, 255);
}

.no-mechanic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Samsung Sans Medium';
    font-size: 1.3vh;

    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;

    max-width: 14vh;

    color: rgb(255, 255, 255);
}

.mechanics-list-call {
    color: rgb(255 0 0);
    position: absolute;
    top: 23%;
    transform: translateY(-50%);

    right: 2vh;
    font-size: 2.5vh;
    transform: rotate(90deg);

    transition: .6s ease-in-out;
}

.mechanics-list-call:hover {
    color: rgb(0 255 39);
    opacity: .8;

    transform: rotate(0deg);

    cursor: pointer;
}