@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.racing-app {
    display: none;
    height: 100%;
    width: 100%;
    background-color: #ff6400;
    background-image: url("../img/backgrounds/racing.png");
    overflow: hidden;
}

.racing-overview {
    position: absolute;
    height: 100%;
    width: 100%;

}

.racing-app-header {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: rgba(43, 42, 42, 0);
    text-indent: 1.9vh;
    line-height: 14vh;
    color: rgb(255, 255, 255);
    font-family: 'Racing Font';
    font-size: 1.6vh;
}

.racing-races {
    position: absolute;
    background-color: rgb(255 255 255);
    width: 82%;
    height: 41vh;
    top: 10vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: .3vh;
    overflow-x: hidden;
}

.racing-buttons {
    position: absolute;
    bottom: 1.2vh;
    width: 85%;
    height: 7vh;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.racing-button {
    position: relative;
    float: left;
    height: 42%;
    width: 30%;
    margin-left: 1.655%;
    margin-right: 1.655%;
    border-radius: .3vh;
    transition: .6s linear;
    text-align: center;
    color: #ff6400;
    line-height: 3vh;
    font-size: 1.2vh;
    font-family: 'Samsung Sans Regular';
}

#setup-race {
    width: 35%;
    background-color: #ffffff;
}

#leaderboards-race {
    width: 20%;
    background-color: #ffffff;
    font-size: 1.6vh;
}

#create-race {
    width: 35%;
    background-color: #ffffff;
}

#setup-race:hover {
    background-color: #dedede;
}

#leaderboards-race:hover {
    background-color: #dedede;
}

#create-race:hover {
    background-color: #dedede;
}

.racing-race {
    text-transform: uppercase;
    position: relative;
    width: 100%;
    height: vh;
    background-color: rgb(255 255 255);
    transition: .7s linear;
    z-index: 100;
}

.racing-race:hover {
    background-color: rgb(255 255 255);
}

.race-name {
    position: absolute;
    left: 1.5vh;
    top: 1vh;
    font-family: 'Samsung Sans Regular';
    color: #ff6400;
    font-size: 1.4vh;
}

.race-track {
    position: absolute;
    left: 1.5vh;
    top: 3.3vh;
    font-family: 'Samsung Sans Regular';
    color: #1f1f1f;
    font-size: 1.4vh;
}

.race-infomation {
    position: absolute;
    top: 6vh;
    height: 2vh;
    width: 80%;
    left: 1.3vh;
}

.race-infomation-tab {
    position: relative;
    float: left;
    font-size: 1vh;
    font-family: 'Samsung Sans Medium';
    text-transform: uppercase;
    background-color: #ff6400;
    padding: .3vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: .2vh;
    color: rgb(255 255 255);
    margin-right: .5vh;

}

.race-buttons {
    display: none;
    position: absolute;
    bottom: 1vh;
    width: 50%;
    height: 4vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 101;
}

.race-button {
    position: relative;
    height: 80%;
    width: 45%;
    float: left;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    line-height: 3vh;
    color: #ffffff;
    font-size: 1.5vh;
    border-radius: .3vh;
    pointer-events: all;
    transition: .9s linear;
}

#join-race {
    background-color: #ff6400;
}

#quit-race {
    background-color: #ff6400;
}

#join-race:hover {
    background-color: #a54100;
}

#quit-race:hover {
    background-color: #a54100;
}

#start-race {
    background-color: #ff6400;
}

#start-race:hover {
    background-color: #a54100;
}

.racing-setup {
    background-image: url("../img/backgrounds/racing.png");
    /* display: none; */
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 102;
    left: -30vh;
}

.racing-setup-track {
    position: absolute;
    width: 100%;
    height: 5vh;
    background-color: black;
    top: 12vh;
}

.racing-setup-tracks {
    position: absolute;
    width: 100%;
    height: 5vh;
}

#racing-setup-trackheader {
    position: absolute;
    left: 2vh;
    top: 9.5vh;
    color: white;
    font-family: 'Samsung Sans Regular';
}

.dropdown {
    position: relative;
    width: 85%;
    display: inline-block;
    border-radius: .3vh;
    box-shadow: 0 0 2px rgb(255 255 255);
    transition: all .5s ease;
    font-size: 14px;
    color: #000000;
    height: 4vh;
    text-align: left;
    top: 12vh;
    left: 2vh;
    background-color: #fff;
    outline: none;
    border: .2vh solid #000000;
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.dropdown .select > i {
    font-size: 13px;
    color: #ff6400;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:hover {
    box-shadow: 0 0 4px rgb(204 204 204 / 0%)
}

.dropdown:active {
    background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(255 255 255 / 0%);
    border-radius: 5px 5px 0 0;
    background-color: #ffffff
}

.dropdown.active .select > i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204 204 204 / 0%);
    border-radius: .3vh;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
}

.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}

.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

#racing-setup-lapsheader {

    position: absolute;
    left: 2vh;
    top: 20vh;
    color: white;
    font-family: 'Samsung Sans Regular';
}

.racing-setup-laps {

    position: absolute;
    width: 85%;
    height: 4vh;
    top: 22.5vh;
    left: 2vh;
    padding-left: 1vh;
    border: none;
    outline: none;
    border-radius: .3vh;
    background-color: transparent;
    border: .2vh solid #000000;
    font-family: 'Samsung Sans Regular';
    color: black;
    transition: .1s linear;
}

.racing-setup-laps:focus {
    border: .2vh solid #ff6400;
}

.racing-setup-laps:valid {
    border: .2vh solid #a54100;
}

.racing-setup-laps::-webkit-inner-spin-button {
    display: none;
}

#racing-setup-informationheader {
    text-transform: uppercase;
    position: absolute;
    left: 2vh;
    top: 30.5vh;
    color: #ff6400;
    font-family: 'Samsung Sans Regular';
}

.racing-setup-information-distance {
    position: absolute;
    width: 85%;
    left: 2vh;
    top: 33vh;
    color: white;
    background-color: #ff6400;
    padding: .5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: .3vh;
    font-family: 'Samsung Sans Regular';
}

.racing-setup-information-creator {
    position: absolute;
    width: 85%;
    left: 2vh;
    top: 37vh;
    color: white;
    background-color: #ff6400;
    padding: .5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: .3vh;
    font-family: 'Samsung Sans Regular';
}

.racing-setup-information-wr {
    position: absolute;
    width: 85%;
    left: 2vh;
    top: 41vh;
    color: white;
    background-color: #ff6400;
    padding: .5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: .3vh;
    font-family: 'Samsung Sans Regular';
}

.racing-setup-buttons {
    position: absolute;
    bottom: 1vh;
    width: 85%;
    height: 6vh;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.racing-setup-button {
    position: relative;
    float: left;
    width: 45%;
    height: 49%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    line-height: 3vh;
    color: #ff6400;
    font-size: 1.5vh;
    border-radius: .3vh;
    transition: .7s linear;
}

#setup-race-accept {
    background-color: #ffffff;
}

#setup-race-cancel {
    background-color: #ffffff;
}

#setup-race-accept:hover {
    background-color: #dedede;
}

#setup-race-cancel:hover {
    background-color: #dedede;
}

/* Create */

#racing-create-tracknameheader {
    text-transform: uppercase;
    position: absolute;
    left: 1.4vh;
    top: 1.9vh;
    color: #ff6400;
    font-family: 'Samsung Sans Regular';
}

.racing-create-trackname {
    text-transform: uppercase;
    position: absolute;
    padding-left: .7vh;
    width: 20vh;
    height: 3.5vh;
    top: 4.5vh;
    left: 1.5vh;
    border: none;
    outline: none;
    border-radius: .3vh;
    background-color: transparent;
    border: .2vh solid rgb(0, 0, 0);
    font-family: 'Samsung Sans Regular';
    color: rgb(0, 0, 0);
    transition: .1s linear;
}

.racing-create-trackname:focus {
    border: .2vh solid #ff6400;
}

.racing-create-trackname:valid {
    border: .2vh solid #a54100;
}

.racing-create-trackname::-webkit-inner-spin-button {
    display: none;
}

.racing-create {
    display: none;
    /* display: block; */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 71%);
    border-radius: .5vh;
    z-index: 102;
    pointer-events: all;
}

.racing-create-block {
    position: absolute;
    width: 80%;
    height: 15vh;
    background-color: white;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 16vh;
    border-radius: .3vh;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.4);
}

.racing-create-buttons {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 3.2vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 1.6vh;
}

.racing-create-button {
    position: relative;
    float: left;
    width: 45%;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    line-height: 3.3vh;
    text-align: center;
    font-size: 1.6vh;
    border-radius: .3vh;
    color: #ff6400;
    transition: .7s linear;
}

#racing-create-accept {
    background-color: #ffffff;
}

#racing-create-cancel {
    background-color: #ffffff;
}

#racing-create-accept:hover {
    background-color: #dedede;
}

#racing-create-cancel:hover {
    background-color: #dedede;
}

.racing-leaderboard {
    background-image: url("../img/backgrounds/racing.png");
    /* display: none; */
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(31, 31, 31);
    z-index: 102;
    left: -30vh;
}

.racing-leaderboards {

    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    width: 85%;
    height: 35vh;
    top: 13vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: .5vh;
    overflow-x: hidden;
}

#racing-leaderboards-header {
    position: absolute;
    right: 2.3vh;
    top: 10vh;
    color: white;
    font-family: 'Racing Font';
}

.racing-leaderboard-item {
    position: relative;
    margin-bottom: .2vh;
    width: 100%;
    height: 7vh;
    background-color: rgb(255 255 255);
    transition: .7s linear;
    margin-bottom: .5vh;
    z-index: 100;
}

.racing-leaderboard-item:hover {
    background-color: rgb(255 255 255);
}

.racing-leaderboard-item-name {
    text-transform: uppercase;
    position: absolute;
    left: 1.5vh;
    top: 1vh;
    font-family: 'Samsung Sans Regular';
    color: #ff6400;
    font-size: 1.5vh;
}

.racing-leaderboard-item-info {
    text-transform: uppercase;
    position: absolute;
    left: 1.5vh;
    top: 3.5vh;
    font-family: 'Samsung Sans Regular';
    color: rgb(0 0 0);
    font-size: 1.1vh;
}

.racing-leaderboard-details {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 101;
}

.racing-leaderboard-details-block {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 80%;
    height: 60%;
    background-color: white;
    top: 11vh;
    border-radius: .3vh;
}

.racing-leaderboard-details-block-trackname {
    text-transform: uppercase;
    text-align: center;
    line-height: 6vh;
    font-family: 'Samsung Sans Regular';
    font-size: 1.8vh;
    color: #ff6400;
    width: 100%;
    height: 6vh;
}

.racing-leaderboard-details-block-list {
    position: absolute;
    width: 80%;
    height: 65%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 9.5vh;
    overflow-y: scroll;
    /* background-color: rgba(77, 2, 2, 0.685); */
}

.racing-leaderboard-details-block-list::-webkit-scrollbar {
    display: none;
}

.racing-leaderboard-details-back {
    position: absolute;
    right: 1.5vh;
    top: 1.2vh;
    font-size: 1.7vh;
    color: black;
    transition: .05s linear;
}

.racing-leaderboard-details-back:hover {
    color: #ff6400;
}

.row {
    text-transform: uppercase;
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
    font-size: 1.2vh;
    left: 1.4vh;
}

.name {
	position: relative;
	display: inline-block;
    width: 43%;
	line-height: 45px;
}
.time {
	position: relative;
	display: inline-block;
	width: 42%;
}

.score {
	position: relative;
	display: inline-block;
	width: 15%;
}

#leaderboard-list-header {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 6.8vh;
    font-family: 'Samsung Sans Bold';
}

.racing-leaderboards-button {
    position: absolute;
    bottom: 1vh;
    width: 85%;
    height: 7vh;
    background-color: #ffffff;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: .3vh;
    text-align: center;
    line-height: 3vh;
    font-size: 1.9vh;
    color: #ff6400;
    transition: .7s linear;
}

.racing-leaderboards-button:hover {
    background-color: #dedede00;
}