@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');


.twitter-app {
    display: none;
    height: 100%;
    width: 100%;
    background: #ffffff;
    overflow: hidden;
}

.twitter-app-header {
    font-size: 20px;
    color: #ff0b0c;
}
.twitter-header {
    position: absolute;
    top: 8.1vh;
    width: 100%;
    height: 5vh;
    background: #ffffff;
}

.twitter-header-tab {
    position: relative;
    float: left;
    width: 25%;
    height: 95%;
    text-align: center;
    line-height: 5vh;
    font-size: 1.5vh;
    color: #ff0b0c;
    transition: 1s;
    border-bottom: .4vh solid #ff0b0c;
}

.twitter-header-tab:hover {
    background-color: #ff0b0c;
    color: #ffffff;
}

.selected-twitter-header-tab {
    color: #ffcdcd;
    background: #ff0b0c;
}

.twitter-app-header {
    position: relative;
    padding: 5vh 0 0 1.85vh;
    font-family: 'Viga', sans-serif;
    font-size: 2vh;
}

.twitter-home-tab {
    display: block;
    position: absolute;
    height: 90%;
    background: #ffcdcd;
    width: 100%;
    top: 12vh;
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}



.twitter-home-tab::-webkit-scrollbar {
    width: 1vh;
}

.twitter-home-tab::-webkit-scrollbar-thumb {
    background-color: #ff0b0c;
}

.twitter-home-tab::-webkit-scrollbar-track {
    background-color: #ebebeb00;
}



.twitter-self-tab{
    display: block;
    position: absolute;
    height: 90%;
    background: #ffcdcd;
    width: 100%;
    top: 12vh;
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.twitter-self-tab::-webkit-scrollbar {
    width: .7vh;
}

.twitter-self-tab::-webkit-scrollbar-thumb {
    background-color: #ff0b0c;
}

.twitter-self-tab::-webkit-scrollbar-track {
    background-color: #ebebeb00;
}



.twitter-mentions-tab {
    display: block;
    position: absolute;
    height: 90%;
    background: #ffcdcd;
    width: 100%;
    top: 12vh;
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.twitter-mentions-tab::-webkit-scrollbar {
    width: 1vh;
}

.twitter-mentions-tab::-webkit-scrollbar-thumb {
    background-color: #ff0b0c;
}

.twitter-mentions-tab::-webkit-scrollbar-track {
    background-color: #ebebeb00;
}

.twitter-hashtags-tab {
    display: block;
    position: absolute;
    height: 90%;
    background: #ffcdcd;
    width: 100%;
    top: 12vh;
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.twitter-hashtags-tab::-webkit-scrollbar {
    width: 1vh;
}

.twitter-hashtags-tab::-webkit-scrollbar-thumb {
    background-color: #ff0b0c;
}

.twitter-hashtags-tab::-webkit-scrollbar-track {
    background-color: #ebebeb00;
}

.tt {
    position: absolute;
    right: 700px;
    top: 400px;
    padding: 1rem;
}

.twitter-tweet {
    position: relative;
    width: 100%;
    margin: 1rem;
    border-bottom: 2px solid #ffdfdf;
}

.twitter-tweet:hover {
}

.twitter-tweet-hashtag {
    position: relative;
    height: auto;
    width: 100%;
    border-bottom: 2px solid #ffdfdf;
    margin-bottom: 2.5vh;
}

.twitter-mentioned-tweet {
    position: relative;
    height: auto;
    width: 100%;
    border-bottom: 2px solid #ffdfdf;
    margin-bottom: 2.5vh;
}

.twt-img {
    position: absolute;
    left: 1vh;
    height: 100%;
    width: 100%;
}

.twt-img>img {
    width: 4vh;
    height: 4vh;
    border-radius: 10%;
}

.tweet-reply {

    color: #ff0b0c;
    margin-left: 4vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    left: 2rem;
    transition: .05 linear;
    z-index: 100;
    position: relative;
    pointer-events: all;
}



.tweet-delete{
    color: #ff0b0c;
    margin-left: 4vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    left: 2rem;
    transition: .05 linear;
    z-index: 100;
    position: relative;
    pointer-events: all;  
}
.tweet-reply:hover i {
    color: #000000;
}

.tweet-tweeter {
    padding-left: 6vh;
    padding-top: .6vh;
    font-family: 'Viga', sans-serif;
    font-size: 1.1vh;
    color: ff0b0c;
}

.tweet-tweeter>span {
    color: #ff0b0c;
    position: relative;
    font-family: 'Viga', sans-serif;
    font-size: 1.0vh;
    top: -.1vh;
}

.tweet-message {
    margin-top: .3vh;
    padding-left: 6vh;
    font-family: 'Viga', sans-serif;
    font-size: 1.3vh;
    padding-bottom: 1vh;
    overflow-wrap: break-word;
    color: #1f1f1f;
    word-wrap: break-word;
}

.tweet-image {
    margin-top: .3vh;
    padding-left: 6vh;
    top: .5vh;
    z-index: 100;
    font-family: 'Viga', sans-serif;
    font-size: 1.3vh;
    padding-bottom: 1vh;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


.twitter-new-tweet {
    color: #ffffff;
    position: absolute;
    bottom: 40px;
    right: 0;
    width: 5vh;
    height: 5vh;
    background-color: #ff0b0c;
    margin: 2vh;
    border-radius: 1vh;
    text-align: center;
    z-index: 101;

    transition: .1s;
}

.twitter-new-tweet:hover {
    color: #ffffff;
    background-color: #000000;
    z-index: 101;
}

.twitter-new-tweet>i {
    line-height: 5.2vh;
    font-size: 1.7vh;
    color: ff0b0c;
}

.twitter-new-tweet-tab {
    display: none;
    position: absolute;
    display: block;
    top: -100%;
    height: 100%;
    width: 100%;
    background: #ffcdcd;
    overflow: hidden;
    z-index: 105;
}

.twitter-new-tweet-header {
    position: relative;
    color: #ff0b0c;
    padding: 8vh 0 0 3.85vh;
    font-family: 'Viga', sans-serif;
    font-size: 2vh;
}

#tweet-new-message {
    color: #ff0b0c;
    position: absolute;
    border: none;
    height: 33vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #202835;
    outline: none;
    resize: none;
    transition: border-bottom 0.1s ease-in-out;
    font-family: 'Viga', sans-serif;
    padding: 0.87vh;
    font-size: 1.4vh;
    top: 12vh;
    width: 22vh;
    border-radius: .3vh;
}


#tweet-new-url{
    color: #ff0b0c;
    position: absolute;
    border: none;
    height: 3.7vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #202835;
    outline: none;
    resize: none;
    transition: border-bottom 0.1s ease-in-out;
    font-family: 'Viga', sans-serif;
    padding: 0.87vh;
    font-size: 1.3vh;
    top: 47vh;
    width: 22vh;
    border-radius: .3vh; 
}

#tweet-new-message::-webkit-scrollbar {
    display: none;
}

#tweet-new-message::placeholder {
    color: #6e6e6e;
    font-size: 1.4vh;
    font-family: 'Viga', sans-serif;
}

#tweet-new-message:focus {
    border-bottom: 1vh solid #ff0b0c;
}

#tweet-new-message:valid {
    border-bottom: 1vh solid #ff0b0c;
}

.twitter-new-tweet-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9vh;
}

.twitter-new-tweet-button {
    color: #ff0b0c;
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
    line-height: 4.5vh;
    font-family: 'Viga', sans-serif;
    font-size: 1.5vh;
    border-top: .3vh solid #6ab04c00;
    transition: .1s;
}

.twitter-new-tweet-button:hover {
    border-top: .3vh solid #ff0b0c;
}

.twitter-no-tweets {
    position: absolute;
    text-align: center;
    top: 4vh;
    width: 100%;
    font-size: 2vh;
    font-family: 'Viga', sans-serif;
    color: rgb(0, 0, 0);
}

.mentioned-tag {
    border-bottom: 2px solid #dadada;
    padding-bottom: .3vh;
    transition: .2s;
}

.mentioned-tag:hover {
    color: #ff0b0c;
    border-bottom: .1vh solid #ff0b0c;
    transition: .2s;
}

.hashtag-tag-text {
    border-bottom: .1vh solid #dadada;
    padding-bottom: .3vh;
    transition: .2s;
}

.hashtag-tag-text:hover {
    color: #ff0b0c;
    border-bottom: .1vh solid #ff0b0c;
    transition: .2s;
}

.twitter-hashtag {
    position: relative;
    height: 7vh;
    width: 100%;
    top: 0;
    background-color: #202835;
    border-bottom: 2px solid #dadada;
    transition: .2s;
}

.twitter-hashtag:hover {
    color: #ff0b0c;
}

.twitter-hashtag-status {
    position: absolute;
    top: .8vh;
    left: 1vh;
    font-family: 'Viga', sans-serif;
    font-size: 1.1vh;
    color: rgb(255 255 255);
}

.twitter-hashtag-tag {
    position: absolute;
    top: 2.5vh;
    left: 1vh;
    font-family: 'Viga', sans-serif;
    font-size: 1.4vh;
    color: #ff0b0c;
}

.twitter-hashtag-messages {
    position: absolute;
    bottom: .8vh;
    left: 1vh;
    font-family: 'Viga', sans-serif;
    font-size: 1.1vh;
    color: rgb(255 255 255);
}

.twitter-hashtags {
    position: absolute;
    display: block;
    width: 100%;
}

.twitter-hashtag-tweets {
    display: none;
    position: absolute;
    top: 2vh;
    left: 30;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.twitter-hashtag-tweets::-webkit-scrollbar {
    width: 1vh;
}

.twitter-hashtag-tweets::-webkit-scrollbar-thumb {
    background-color: #ff0b0c;
}

.twitter-hashtag-tweets::-webkit-scrollbar-track {
    background-color: #ebebeb00;
}